---
extends: default

ignore: |
  *.vault.yml
  .gitlab-ci.yml

rules:
  braces:
    forbid: non-empty
    max-spaces-inside: 1
  brackets:
    max-spaces-inside: 1
  hyphens:
    max-spaces-after: 1
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  new-lines:
    type: unix
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  line-length:
    level: warning
    max: 80
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
